<!DOCTYPE html>
<html>
    <head>
        <title>Joel's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.07.2021, 14:33</time>
            <h2><a href="">My first post</a></h2>
            <p> temp post </p>
        </article>

        <article>
            <time>published: 14.07.2021, 14:34</time>
            <h2><a href="">My second post</a></h2>
            <p>temp post</p>
        </article>
    </body>
</html>